# Google Gemini API key
# Get one from: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyDrj1OV1XSWoMKxjci-rAXEmDB8fQj9yEs

# MongoDB Connection String
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=ipo_xray_db
